.groups-management-header h1{
    margin-top: 10px !important;
    margin-left: 50px !important;
}

#groups-management {
    display: flex;
}

#groups-management .users {
    margin-left: 60px;
}

#groups-management .panel-def {
    border: 1px solid #e3e3e3;
    border-radius: 9px;
    padding: 10px;
    background-color: #f5f5f5;
    margin-top: 10px;
}

.buttons-container {
    margin-top: 20px !important;
    margin-bottom: 10px;
}

.buttons-container input {
    width: 30%;
    margin-left: 35%;
}
