<h3>BelTech PM vacations</h3>
<div class="fieldset">
    <div class="aui-tabs horizontal-tabs pms-years-tabs" role="application">
        <ul class="tabs-menu" role="tablist">
            #set($nextYear = $vacationsHelper.getCurrentYear() + 1)
            #foreach($year in [2019..$nextYear])
                <li class="menu-item" role="presentation">
                    <a href="#pm-tabs-$year" id="aui-uid-pms-years-tabs-$year" role="tab" aria-selected="true">$year</a>
                </li>
            #end
        </ul>
        #foreach($year in [2019..$nextYear])
            <div class="tabs-pane" id="pm-tabs-$year" role="tabpanel" aria-hidden="false" aria-labelledby="aui-uid-pms-years-tabs-$year">
                <table class="aui aui-table-list">
                    <thead>
                    <tr>
                        <th>User</th>
                        <th>Request Type</th>
                        <th>Request</th>
                        <th>Created At</th>
                    </tr>
                    </thead>
                    <tbody>
                        #set($programmers = $vacationsHelper.selectForUsersVacation("pms", "all"))
                        #foreach($programmer in $programmers)
                            <tr class="group" onclick="toggleRowGroup(this);">
                                <td>
                                    <span class="group-header-content"></span>
                                    $programmer.getDisplayName()
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            #set($requests = $vacationsHelper.getUserRequestsForProcessedVacations($programmer, $year))
                            #foreach($request in $requests)
                                <tr class="approved results">
                                    <td></td>
                                    <td>$request.getRequestType()</td>
                                    <td>
                                        $vacationsHelper.requestToString($request, "(auto approved)")
                                    </td>
                                    <td>$request.getCreatedAt().toString().substring(0, 19)</td>
                                </tr>
                            #end
                        #end
                    </tbody>
                </table>
            </div>
        #end
    </div>
</div>
