<h1>Requests for vacation</h1>
<table class="aui aui-table-sortable">
    <thead>
    <tr>
        <th>User</th>
        <th>Request</th>
        <th class="aui-table-column-unsortable">Description</th>
        <th>Requested At</th>
        <th class="aui-table-column-unsortable">Approve</th>
        <th class="aui-table-column-unsortable">Decline</th>
        <th class="aui-table-column-unsortable">PM Description</th>
    <tr>
    </thead>
    <tbody>
        #foreach ($request in $requestsToApprove)
        <tr>
            <td>
                #if ($userManager.getUserById($request.getRequestById()).isPresent())
                    $userManager.getUserById($request.getRequestById()).get().getDisplayName()
                #else
                    unknown
                #end
            </td>
            <td>
                $vacationsHelper.requestToString($request, "")
            </td>
            <td>
                #if ($request.getDescription())
                    $request.getDescription()
                #end
            </td>
            <td>$request.getCreatedAt().toString().substring(0, 19)</td>
            <td><a data-id="$request.getID()" class="approve" href="#">Approve</a></td>
            <td><a data-id="$request.getID()" class="decline" href="#">Decline</a></td>
            <td>
                <input class="text" type="text" name="pm-description" id="pm-description" placeholder="PM Description...">
            </td>
        </tr>
        #end
        #if ($requestsToApproveLength == 0)
        <tr>
            <td>No requests</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        #end
    </tbody>
</table>
