.timesheet-header h1{
    margin-top: 10px !important;
    margin-left: 80px !important;
}

#beltech-timesheet {
    display: flex;
}

#beltech-timesheet form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 30px;
    height: 200px;
}

#beltech-timesheet form label {
    margin-right: 10px;
}

#beltech-timesheet form div {
    margin-bottom: 20px;
}

#beltech-timesheet .users {
    margin-left: 60px;
}

#beltech-timesheet .users .title {
    font-weight: bold;
}

#beltech-timesheet .users .group div {
    margin-top: 5px;
}

#beltech-timesheet .panel-def {
    border: 1px solid #e3e3e3;
    border-radius: 9px;
    padding: 10px;
    background-color: #f5f5f5;
    margin-top: 10px;
}

aui-inline-dialog {
    visibility: hidden;
}
