.daily-report-header h1 {
    margin-top: 10px !important;
    margin-left: 80px !important;
}

#daily-report {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 100px;
}

#daily-report .panel-def {
    border: 1px solid #e3e3e3;
    border-radius: 9px;
    padding: 10px;
    background-color: #f5f5f5;
    margin-top: 10px;
}

#daily-report .content {
    display: block;
    padding: 20px;
    margin-top: 30px;
}

#report_details table {
    text-align: center;
    width: 100%;
}

#report_details .report-details-left {
    text-align: left;
}

#report_details .notes-wrapper {
    padding: 5px;
    margin-top: 20px;
}

#report_details .notes-input {
    width: 100%;
}

#daily-report .buttons {
    margin-left: 25px;
    margin-bottom: 50px;
    margin-top: 20px;
}
