<html lang="en">
    <head>
        <title>Beltech Dashboard</title>
        <meta name="decorator" content="atl.general"/>
    </head>
    <body>
        <div id="aui-flag-container"></div>
        <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-main pm-dashboard-header">
                    <h1>Beltech Dashboard</h1>
                </div>
            </div>
        </header>

        <nav id="main-nav" class="aui-navgroup aui-navgroup-horizontal">
            <div class="aui-navgroup-inner">
                <div class="aui-navgroup-primary">
                    <ul class="aui-nav">
                        <li id="assigned-issues-nav-item" class="aui-nav-selected"><a href="#">Assigned issues</a></li>
                        <li id="daily-reports-nav-item"><a href="#">Daily reports</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="pm-dashboard">
            <div id="pm-dashboard-inner">
                <section id="pm-dashboard-content-section" class="aui-page-panel-content">
                    <div class="contextual">
                        <a id="show-my-team" class="icon-fav#if(!$showMyTeam)-off#end" href="#">Show my team</a>
                    </div>
                    <div class="nav-content" id="assigned-issues-content">
                        #parse("/templates/pm-dashboard/assigned-issues.vm")
                    </div>
                    <div class="nav-content" id="daily-reports-content">
                        #parse("/templates/pm-dashboard/daily-reports.vm")
                    </div>
                </section>
            </div>
        </div>
        <div id="shared-issue-dialog">
            #set($sharedIssue = false)
            #parse("/templates/pm-dashboard/shared-issue-modal.vm")
        </div>
    </body>
</html>
