<div class="grid">
    <div class="col-1-1">
        <div class="grid grid-border">
            #foreach($developer in $availableTomorrowDevelopers)
                #set($unoccupiedHours = $dailyReportHelper.getUnoccupiedHoursForUser($developer))
                <div class="col-1-2">
                    <div class="module">
                        <div class="grid">
                            <div class="col-avatar">
                                <img src="$avatarService.getAvatarAbsoluteURL($currentUser, $developer, $avatarSize)" id="avatar_$developer.getId()" class="avatar" title="$developer.getDisplayName()">
                            </div>
                            <div class="col-desc">
                                <table class="user-issues">
                                    <tbody>
                                    <tr>
                                        <td class="user-name" colspan="3">
                                            <strong><a href="/secure/ViewProfile.jspa?name=$developer.getUsername()">$developer.getDisplayName()</a></strong>
                                            #if ($unoccupiedHours == 8.0)
                                                <span class="unoccupied-hours eight-unoccupied-hours">has $unoccupiedHours unoccupied hours</span>
                                            #elseif ($unoccupiedHours > 0.0)
                                                <span class="unoccupied-hours three-unoccupied-hours">has $unoccupiedHours unoccupied hours</span>
                                            #end
                                        </td>
                                    </tr>
                                        #set($issues = $jqlHelper.getActiveIssuesForUser($developer))
                                        #foreach($issue in $issues)
                                            <tr>
                                                <td>
                                                    <p class="truncate" style="width: 528px;">
                                                        #if ($issue.getPriority() && $issue.getPriority().getRasterIconUrl())
                                                            <img class="icon" src="$issue.getPriority().getRasterIconUrl()"
                                                                 title="$issue.getPriority().getName()"
                                                                 alt="$issue.getPriority().getName()">
                                                        #end
                                                        <span class="$dailyReportHelper.isDisabledFont($showMyTeam, $issue)" title="Issue $issue.getKey()">$issue.getKey()</span>
                                                        <a class="$dailyReportHelper.isDisabledFont($showMyTeam, $issue)" title="$issue.getSummary()" href="/browse/$issue.getKey()">$issue.getSummary()</a>
                                                    </p>
                                                </td>
                                                #set($eta = $dailyReportHelper.getETAForIssue($issue))
                                                <td class="eta shaded-font">$eta.intValue()<small>h</small></td>
                                                #if (!$showMyTeam)
                                                    <td class="initials shaded-font" title="$dailyReportHelper.getBeltechPmName($issue, true)">$dailyReportHelper.getBeltechPmName($issue, false)</td>
                                                #end
                                            </tr>
                                        #end

                                        #set($sharedIssues = $jqlHelper.getActiveSharedIssuesByIds($dailyReportHelper.getSharedIssuesIdsStringForUser($developer)))
                                        #foreach($issue in $sharedIssues)
                                            #set($sharedIssue = $dailyReportHelper.getSharedIssueRecordByUserAndIssue($developer, $issue))
                                            <tr>
                                                <td>
                                                    <p class="truncate" style="width: 528px;">
                                                        #if ($sharedIssue)
                                                            <a data-id="$sharedIssue.getID()" class="edit-shared-issue"
                                                               title="Edit shared task" href="#"></a>
                                                            <a data-id="$sharedIssue.getID()" class="delete-shared-issue"
                                                               title="Delete shared task" href="#"></a>
                                                        #end
                                                        #if ($issue.getPriority() && $issue.getPriority().getRasterIconUrl())
                                                            <img class="icon" src="$issue.getPriority().getRasterIconUrl()"
                                                                 title="$issue.getPriority().getName()"
                                                                 alt="$issue.getPriority().getName()">
                                                        #end
                                                        <span class="$dailyReportHelper.isDisabledFont($showMyTeam, $issue)" title="Shared issue $issue.getKey()">S-$issue.getKey()</span>
                                                        <a class="$dailyReportHelper.isDisabledFont($showMyTeam, $issue)" title="$issue.getSummary()" href="/browse/$issue.getKey()">$issue.getSummary()</a>
                                                    </p>
                                                </td>
                                                #set($eta = $dailyReportHelper.getETAForIssue($issue))
                                                <td class="eta shaded-font">$eta.intValue()<small>h</small></td>
                                                #if (!$showMyTeam)
                                                    <td class="initials shaded-font" title="$dailyReportHelper.getBeltechPmName($issue, true)">$dailyReportHelper.getBeltechPmName($issue, false)</td>
                                                #end
                                            </tr>
                                        #end
                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a data-id="$developer.getId()" class="add-shared-issue" href="#">Add shared issue</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                #set($report = false)
            #end
            #if (($availableTomorrowDevelopers.size() > 0) && ($availableTomorrowDevelopers.size() % 2 == 1))
                <div class="col-1-2">
                    <div class="module"></div>
                </div>
            #end
        </div>
    </div>
    #if ($unavailableTomorrowDevelopers && $unavailableTomorrowDevelopers.size() > 0)
        #parse("/templates/pm-dashboard/unavailable-tomorrow.vm")
    #end
</div>
