<div class="remember">
    <h3>Please remember, you should:</h3>
    <div class="fieldset">
        <ul>
            <li>make a request for a vacation <b>one month</b> prior it begins</li>
            <li>make a request for a working day transfer <b>two weeks</b> prior it begins. Rest
                day should follow after working day
            </li>
            <li>make a request for a day off <b>one week</b> prior it begins</li>
        </ul>
    </div>
</div>

<div class="new-request">
    <h3>New Request</h3>
    <div class="fieldset">
        <form id="user-request" class="aui top-label">
            <div class="field-group">
                <label for="request-type">Request Type</label>
                <select class="select" id="request-type" name="request-type">
                    <option value="vacation">Vacation</option>
                    <option value="day_off">Day off</option>
                    <option value="working_day_transfer">Working day transfer</option>
                    <option value="sick_day">Sick day</option>
                </select>
            </div>
            <div class="field-group">
                <label for="start-date">Start Date</label>
                <input class="aui-date-picker text" id="start-date" name="start-date" placeholder="yyyy-mm-dd" />
            </div>
            <div class="field-group">
                <label for="end-date">End Date</label>
                <input class="aui-date-picker text" id="end-date" name="end-date" placeholder="yyyy-mm-dd" />
            </div>
            <div class="field-group">
                <label for="description">Description</label>
                <input class="text" type="text" name="description" id="description" placeholder="Description...">
            </div>
            <div class="buttons-container">
                <div class="buttons">
                    <input class="aui-button aui-button-primary" type="submit" value="Submit" id="add-request">
                </div>
                <div class="small right">
                    * For working day transfer start date is a day off, end date is a date you can work instead
                </div>
            </div>
        </form>
    </div>
</div>
