#if ($submittedRequestsLength && $submittedRequestsLength > 0)
    <div class="submitted-requests">
        <h3>Submitted requests</h3>
        <div class="fieldset">
            #foreach ($request in $submittedRequests)
                <div class="request">
                    <a data-id="$request.getID()" class="delete-request" href="#"><img class="icon" alt="Delete" /></a>
                    $vacationsHelper.requestToString($request, "")
                </div>
            #end
        </div>
    </div>
#end
