body {
    background-color: #ffffff;
}

.pm-dashboard-header h1 {
    margin-top: 10px !important;
    margin-left: 80px !important;
}

#pm-dashboard {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 100px;
}

.grid *, .grid *:after, .grid *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.grid {
    margin-bottom: 15px;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

.grid-border{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #E4E4E4;
    border-left: 1px solid #E4E4E4;
}

.grid-border > [class*='col-'] {
    border-top: 1px solid #E4E4E4;
    border-right: 1px solid #E4E4E4;
}

[class*='col-'] {
    float: left;
}
.col-1-1 {
    width: 100%;
}
.col-1-2 {
    width: 50%;
    flex-grow: 0;
}
.col-avatar {
    width: 73px;
}
.col-avatar img {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;

    display:block;
    width:60px;
    height: 60px;

    border:1px solid #E4E4E4;
}
.col-avatar img:hover {
    box-shadow:0 0 15px #00aaff;
    border:1px solid #00aaff;
}
.uploadImage{
    margin-top: 20%;
    width: 50%;
    margin-left: 25%;
    margin-right: 0;
}
.uploadImage img{
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    display:block;
    width:200px;
    height: 200px;
    margin: 0 auto;
}

.clear_image {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    margin-right: 20%;
    margin-top: 20%;
}
.clear_image:hover {
    opacity: 1;
}
.clear_image:before, .clear_image:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.clear_image:before {
    transform: rotate(45deg);
}
.clear_image:after {
    transform: rotate(-45deg);
}
.col-avatar .avatar {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.col-desc {
    width: calc(100% - 73px);
}

.module {
    padding: 15px 20px 15px 25px;
    height: 103px;
}
.module-4 {
    height: 120px;
}
.module-more {
    height: 125px;
}

.user-issues {
    margin: 0;
    padding: 0 0 20px;
    width: 100%;
}
.user-issues td {
    padding: 0 0 2px;
}
.user-issues .user-name {
    font-size: 13px;
    padding-bottom: 8px;
}
.user-issues .more {
    padding: 5px 0 0;
}
.user-issues .eta {
    text-align: right;
    width: 39px;
}
.user-issues .initials {
    text-align: right;
    width: 21px;
}

.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shaded-font {
    color: #999;
}

span.disabled-font,
a.disabled-font {
    color: #AAA;
}

.priority {
    width: 8px;
    height: 8px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 3px 5px 3px 1px;
    float: left;
}
.low-priority {
    background: #9BCA3E;
}
.normal-priority {
    background: #3ABBC9;
}
.high-priority {
    background: #FFB92A;
}
.urgent-priority,
.immediate-priority {
    background: #ED5314;
}
.disabled-priority {
    background: #AAA;
}

.unoccupied-hours,
.daily-report {
    position: relative;
    color: #FFF;
    padding: 0 6px 1px 6px;
    border-radius: 3px;
    margin-left: 4px;
}
.eight-unoccupied-hours,
.has-no-report {
    background: #ED5314;
}
.three-unoccupied-hours,
.wants-to-talk {
    background: #FFB92A;
}

.notes-link {
    float: right;
    font-size: 11px;
    margin-top: 1px;
}

.issue-will-be-ready {
    text-decoration: line-through;
}

.notes-link {
    cursor: pointer;
}

#pm-dashboard .add-shared-issue,
#pm-dashboard .edit-shared-issue,
#pm-dashboard .delete-shared-issue {
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding-left: 20px;
    margin-top: 50px;
    line-height: 2px;
}

#pm-dashboard .add-shared-issue {
    background-image: url(images/pm-dashboard/add.png);
}

#pm-dashboard .edit-shared-issue {
    background-image: url(images/pm-dashboard/edit.png);
}

#pm-dashboard .delete-shared-issue {
    background-image: url(images/pm-dashboard/delete.png);
}

#shared-issue-dialog {
    display: none;
}

#shared-issue-dialog form {
    margin-left: 5%;
}

#shared-issue-dialog input, #shared-issue-dialog textarea {
    width: 90%;
}

#shared-issue-dialog .buttons-container {
    margin-bottom: 30px;
}

#aui-flag-container {
    transition: opacity .8s;
}

#main-nav {
    margin-left: 80px;
}

#daily-reports-content {
    display: none;
}

.col-1-1 h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.contextual {
    float: right;
    white-space: nowrap;
    line-height: 1.4em;
    margin: 5px 0;
    padding-left: 10px;
    font-size: 0.9em;
}

.contextual .icon {
    padding-top: 2px;
    padding-bottom: 3px;
}

.icon-fav {
    background-image: url(images/pm-dashboard/fav.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.icon-fav-off {
    background-image: url(images/pm-dashboard/fav_off.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding-left: 20px;
}
