.timesheet-header h1{
    margin-top: 10px !important;
    margin-left: 80px !important;
}

#timesheet-validator {
    display: flex;
}

#timesheet-validator form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 100px;
}

#timesheet-validator form.aui .field-group {
    padding-left: 10px;
}

#timesheet-validator form .field-group label {
    margin-left: -75px;
    margin-right: 20px;
}

#timesheet-validator form div {
    margin-bottom: 10px;
}

#timesheet-validator .users {
    margin-left: 60px;
}

#timesheet-validator .users .title {
    font-weight: bold;
}

#timesheet-validator .users .group div {
    margin-top: 5px;
}

#timesheet-validator .panel-def {
    border: 1px solid #e3e3e3;
    border-radius: 9px;
    padding: 10px;
    background-color: #f5f5f5;
    margin-top: 10px;
}

aui-inline-dialog {
    visibility: hidden;
}

#timesheet-validator .buttons-container {
    margin-bottom: 50px;
}

#timesheet-validator .buttons {
    width: 100%;
    position: absolute;
    left: 0;
}

#timesheet-validator table td {
    border: 1px solid #bbb;
    padding: 5px;
}

#timesheet-validator table label {
    padding-left: 20px;
    color: black;
}

#timesheet-validator table div {
    margin-bottom: 0;
}
